# **Retrieving Tennis player data from the ATP website**

El objetivo final es extraer la información del premio monetario obtenido por los jugadores entre los rankings 1 a 500.
El desafío es que no existe una tabla disponible con la información del price money por jugador. Por lo que se debe armar extrayendo información de dos fuentes de la ATP.

# **Extrayendo la tabla con los primeros 500 jugadores del ranking ATP**

## Load libraries

Load the necessary libraries for web table extraction.

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import time

print("Libraries loaded successfully.")

Libraries loaded successfully.

In [2]:
#Extracting the table with the first 500 atp playes
url = "https://www.atptour.com/en/rankings/singles?rankRange=0-500&region=all&dateWeek=2025-11-17&SortField=null&SortAscending=null"
response = requests.get(url)
response.raise_for_status() # Raise an HTTPError for bad responses (4xx or 5xx)
html_content = response.text
soup = BeautifulSoup(html_content, 'html.parser')
dfs_tables = pd.read_html(html_content)

/tmp/ipython-input-761207950.py:7: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  dfs_tables = pd.read_html(html_content)

In [3]:
player_data = dfs_tables[1]
player_data.columns

Index(['Hidden header', 'Rank', 'Player', 'Player.1', 'Player.2', 'Player.3',
       'Player.4', 'Player.5', 'Player.6', 'Age', 'Age.1', 'Official Points',
       'Official Points.1', '+/-', '+/-.1', 'Tourn Played', 'Tourn Played.1',
       'Dropping', 'Dropping.1', 'Next Best', 'Next Best.1'],
      dtype='object')

In [4]:
player_data_clean = player_data[["Hidden header", "Player", "Age", "Official Points", "Tourn Played"]]
player_data_clean = player_data_clean.rename(columns={"Hidden header": "rank",
                                                      "Player": "player_name",
                                                      "Age": "age",
                                                      "Official Points": "points",
                                                      "Tourn Played": "n_tournaments"})

In [5]:
player_data_clean['player_name'].to_string() #Hay nombres de jugadores con números o el signo -. Se eliminan
player_data_clean['player_name'] = player_data_clean['player_name'].str.replace(r'^[-\d\s]+', '', regex=True)
player_data_clean["player_name"].head(11)

0                                        Carlos Alcaraz
1                                         Jannik Sinner
2                                      Alexander Zverev
3                                        Novak Djokovic
4                                 Felix Auger-Aliassime
5                                          Taylor Fritz
6                                        Alex de Minaur
7                                       Lorenzo Musetti
8                                           Ben Shelton
9                                           Jack Draper
10    googletag.cmd.push(function () {  googletag.pu...
Name: player_name, dtype: object

In [6]:
#Eliminar la fila con índice 10 del DataFrame. Nos es un jugador
player_data_clean = player_data_clean.drop(index=10)
player_data_clean.head(11)

   rank            player_name age points n_tournaments
0     1         Carlos Alcaraz  22  12050            19
1     2          Jannik Sinner  24  11500            18
2     3       Alexander Zverev  28   5160            24
3     4         Novak Djokovic  38   4830            20
4     5  Felix Auger-Aliassime  25   4245            28
5     6           Taylor Fritz  28   4135            23
6     7         Alex de Minaur  26   4135            23
7     8        Lorenzo Musetti  23   4040            23
8     9            Ben Shelton  23   3970            23
9    10            Jack Draper  23   2990            17
11   11       Alexander Bublik  28   2870            29

La primera tabla ya está ordenada y limpia. Ahora obtendremos la información del price money de cada uno de estos jugadores para el año 2025.

In [7]:
#Obtener el link con el overview de cada jugador
player_links = soup.find_all('a', href=lambda href: href and '/en/players/' in href and '/overview' in href)
player_overview_urls = []
for link in player_links:
          full_url = "https://www.atptour.com" + link['href']
          if full_url not in player_overview_urls:
            player_overview_urls.append(full_url)
player_overview_urls[0:5]

['https://www.atptour.com/en/players/carlos-alcaraz/a0e2/overview',
 'https://www.atptour.com/en/players/jannik-sinner/s0ag/overview',
 'https://www.atptour.com/en/players/alexander-zverev/z355/overview',
 'https://www.atptour.com/en/players/novak-djokovic/d643/overview',
 'https://www.atptour.com/en/players/felix-auger-aliassime/ag37/overview']

In [8]:
#Url de la actividad de cada jugador
player_activity_urls = []
activity_suffix = "player-activity?matchType=Singles&year=2025&tournament=all"

for url in player_overview_urls:
    # Reemplazar "overview" por la nueva cadena de actividad
    activity_url = url.replace("/overview", f"/{activity_suffix}")
    player_activity_urls.append(activity_url)
player_activity_urls[:5]

['https://www.atptour.com/en/players/carlos-alcaraz/a0e2/player-activity?matchType=Singles&year=2025&tournament=all',
 'https://www.atptour.com/en/players/jannik-sinner/s0ag/player-activity?matchType=Singles&year=2025&tournament=all',
 'https://www.atptour.com/en/players/alexander-zverev/z355/player-activity?matchType=Singles&year=2025&tournament=all',
 'https://www.atptour.com/en/players/novak-djokovic/d643/player-activity?matchType=Singles&year=2025&tournament=all',
 'https://www.atptour.com/en/players/felix-auger-aliassime/ag37/player-activity?matchType=Singles&year=2025&tournament=all']

In [9]:
#Incluir en el data frame de los jugadores las urls. Como la información se obtuve de manera ordenada, se pueden pegar fácilmente
player_data_clean['player_overview_url'] = player_overview_urls
player_data_clean['player_activity_url'] = player_activity_urls
player_data_clean.tail()

,rank,player_name,age,points,n_tournaments,player_overview_url,player_activity_url
496,496,Maxime Janvier,29,87,28,https://www.atptour.com/en/players/maxime-janv...,https://www.atptour.com/en/players/maxime-janv...
497,497,Florian Broska,27,86,18,https://www.atptour.com/en/players/florian-bro...,https://www.atptour.com/en/players/florian-bro...
498,498,Bor Artnak,21,86,18,https://www.atptour.com/en/players/bor-artnak/...,https://www.atptour.com/en/players/bor-artnak/...
499,499,Egor Agafonov,23,86,19,https://www.atptour.com/en/players/egor-agafon...,https://www.atptour.com/en/players/egor-agafon...
500,500,Oleksandr Ovcharenko,24,86,23,https://www.atptour.com/en/players/oleksandr-o...,https://www.atptour.com/en/players/oleksandr-o...

In [10]:
# Función para extraer el id de cada jugador y se guarda en la misma tabla.
def extract_player_id(url: str) -> str:
    """
    Extrae el id del jugador desde la URL player_overview_url.
    Asume formato /players/.../{player_id}/overview
    """
    if not isinstance(url, str):
        return None
    parts = url.strip("/").split("/")
    # Últimos elementos: [..., player_id, 'overview']
    if len(parts) >= 2:
        return parts[-2]
    return None

player_data_clean["player_id"] = player_data_clean["player_overview_url"].apply(extract_player_id)
player_data_clean.head()

,rank,player_name,age,points,n_tournaments,player_overview_url,player_activity_url,player_id
0,1,Carlos Alcaraz,22,12050,19,https://www.atptour.com/en/players/carlos-alca...,https://www.atptour.com/en/players/carlos-alca...,a0e2
1,2,Jannik Sinner,24,11500,18,https://www.atptour.com/en/players/jannik-sinn...,https://www.atptour.com/en/players/jannik-sinn...,s0ag
2,3,Alexander Zverev,28,5160,24,https://www.atptour.com/en/players/alexander-z...,https://www.atptour.com/en/players/alexander-z...,z355
3,4,Novak Djokovic,38,4830,20,https://www.atptour.com/en/players/novak-djoko...,https://www.atptour.com/en/players/novak-djoko...,d643
4,5,Felix Auger-Aliassime,25,4245,28,https://www.atptour.com/en/players/felix-auger...,https://www.atptour.com/en/players/felix-auger...,ag37

In [11]:
players_df = player_data_clean

In [12]:
players_df.to_csv("atp_ranking_2025.csv", index=False)

In [ ]:
BASE_ACTIVITY_URL = "https://www.atptour.com/en/-/www/activity/sgl/{player_id}/?v=1"

#Función para descargar el JSON de activity de cada jugador

def fetch_activity_json(player_id: str, session: requests.Session = None, timeout: int = 20):
    """
    Descarga el JSON de activity para un player_id.
    Devuelve un dict (JSON parseado) o None si falla.
    """
    url = BASE_ACTIVITY_URL.format(player_id=player_id)
    sess = session or requests.Session()

    try:
        resp = sess.get(url, timeout=timeout)
        if resp.status_code != 200:
            print(f"[WARN] {player_id}: status {resp.status_code}")
            return None
        return resp.json()
    except Exception as e:
        print(f"[ERROR] {player_id}: {e}")
        return None

In [ ]:
def activity_json_to_rows(player_id: str, data: dict) -> list[dict]:
    """
    Convierte el JSON de Activity del ATP en filas (año–evento),
    incluyendo el player_id en cada fila.
    """
    if data is None:
        return []

    activity = data.get("Activity", [])
    rows = []

    for year_block in activity:
        year = year_block.get("EventYear")

        tournaments = year_block.get("Tournaments", [])
        for t in tournaments:
            rows.append({
                "player_id": player_id,
                "year": year,
                "event_id": t.get("EventId"),
                "event_name": t.get("EventName"),
                "event_title": t.get("EventDisplayName"),
                "prize_raw": t.get("Prize"),          # premio en moneda local
                "currency": t.get("CurrSymbol"),      # "$", "€", "£", etc.
                "prize_usd": t.get("PrizeUsd"),       # premio convertido a USD
            })

    return rows

In [ ]:
activity_rows = activity_json_to_rows(player_id="a0e2", data=resp)
df = pd.DataFrame(activity_rows)
print(df.head(10))

  player_id  year event_id                   event_name  \
0      a0e2  2025      605             Nitto ATP Finals
1      a0e2  2025      352       ATP Masters 1000 Paris
2      a0e2  2025      329                        Tokyo
3      a0e2  2025     9210                    Laver Cup
4      a0e2  2025      560                      US Open
5      a0e2  2025      422  ATP Masters 1000 Cincinnati
6      a0e2  2025      540                    Wimbledon
7      a0e2  2025      311        London / Queen's Club
8      a0e2  2025      520                Roland Garros
9      a0e2  2025      416        ATP Masters 1000 Rome

                                       event_title  prize_raw currency  \
0                                 Nitto ATP Finals    2704000        $
1                              Rolex Paris Masters      44220        €
2  Kinoshita Group Japan Open Tennis Championships     416365        $
3                                        Laver Cup          0        $
4                                          US Open    5000000        $
5                                  Cincinnati Open    1124380        $
6                                        Wimbledon    1520000        £
7                               HSBC Championships     471755        €
8                                    Roland Garros    2550000        €
9                      Internazionali BNL d'Italia     985030        €

   prize_usd
0    2704000
1      51410
2     416365
3          0
4    5000000
5    1124380
6    2084984
7     544641
8    2897565
9    1279160

In [ ]:
# Descargar la información de los jugadores que están en la primera tabla descargada.
session = requests.Session()

all_rows = []

for i, row in players_df.iterrows():
    player_id = row["player_id"]

    # Saltar si falta el id
    if pd.isna(player_id):
        continue

    print(f"[{i+1}/{len(players_df)}] Descargando activity de {player_id}...")

    resp = fetch_activity_json(player_id=player_id, session=session)

    # Si falló la descarga, seguimos con el siguiente
    if resp is None:
        continue

    player_rows = activity_json_to_rows(player_id=player_id, data=resp)

    # Si el jugador no tiene actividad, seguimos
    if not player_rows:
        continue

    # Agregamos las filas de este jugador a la lista global
    all_rows.extend(player_rows)

    # Pequeña pausa para no pegarle tan fuerte a la web
    time.sleep(0.3)

# Crear el DataFrame final con TODOS los jugadores
activity_all_df = pd.DataFrame(all_rows)

print(activity_all_df.head())
print(activity_all_df.shape)

[1/500] Descargando activity de a0e2...
[2/500] Descargando activity de s0ag...
[3/500] Descargando activity de z355...
[4/500] Descargando activity de d643...
[5/500] Descargando activity de ag37...
[6/500] Descargando activity de fb98...
[7/500] Descargando activity de dh58...
[8/500] Descargando activity de m0ej...
[9/500] Descargando activity de s0s1...
[10/500] Descargando activity de d0co...
[12/500] Descargando activity de bk92...
[13/500] Descargando activity de rh16...
[14/500] Descargando activity de mm58...
[15/500] Descargando activity de dh50...
[16/500] Descargando activity de r0dg...
[17/500] Descargando activity de re44...
[18/500] Descargando activity de l0bv...
[19/500] Descargando activity de ke29...
[20/500] Descargando activity de m0ni...
[21/500] Descargando activity de pl56...
[22/500] Descargando activity de c0au...
[23/500] Descargando activity de c0e9...
[24/500] Descargando activity de su55...
[25/500] Descargando activity de f0fv...
[26/500] Descargando activity de gj37...
[27/500] Descargando activity de d0fj...
[28/500] Descargando activity de n771...
[29/500] Descargando activity de t0ha...
[30/500] Descargando activity de rc91...
[31/500] Descargando activity de td51...
[32/500] Descargando activity de va25...
[33/500] Descargando activity de m0fh...
[34/500] Descargando activity de n0ae...
[35/500] Descargando activity de te51...
[36/500] Descargando activity de mw02...
[37/500] Descargando activity de mu94...
[38/500] Descargando activity de hh26...
[39/500] Descargando activity de m0qi...
[40/500] Descargando activity de su87...
[41/500] Descargando activity de f0f1...
[42/500] Descargando activity de d0f6...
[43/500] Descargando activity de mp20...
[44/500] Descargando activity de bu13...
[45/500] Descargando activity de d875...
[46/500] Descargando activity de b0bi...
[47/500] Descargando activity de ae14...
[48/500] Descargando activity de bt72...
[49/500] Descargando activity de k0ah...
[50/500] Descargando activity de u182...
[51/500] Descargando activity de o522...
[52/500] Descargando activity de m0ci...
[53/500] Descargando activity de ki95...
[54/500] Descargando activity de b0cd...
[55/500] Descargando activity de p09z...
[56/500] Descargando activity de f724...
[57/500] Descargando activity de bk40...
[58/500] Descargando activity de d923...
[59/500] Descargando activity de r0eb...
[60/500] Descargando activity de m0gz...
[61/500] Descargando activity de ea24...
[62/500] Descargando activity de c0df...
[63/500] Descargando activity de k0az...
[64/500] Descargando activity de a0fc...
[65/500] Descargando activity de mq75...
[66/500] Descargando activity de a0gc...
[67/500] Descargando activity de gc88...
[68/500] Descargando activity de c0h0...
[69/500] Descargando activity de mc65...
[70/500] Descargando activity de me82...
[71/500] Descargando activity de q02l...
[72/500] Descargando activity de f0by...
[73/500] Descargando activity de n0bs...
[74/500] Descargando activity de hb71...
[75/500] Descargando activity de b0gg...
[76/500] Descargando activity de c977...
[77/500] Descargando activity de d0c1...
[78/500] Descargando activity de v812...
[79/500] Descargando activity de w09e...
[80/500] Descargando activity de m0jz...
[81/500] Descargando activity de gd64...
[82/500] Descargando activity de te30...
[83/500] Descargando activity de v832...
[84/500] Descargando activity de m0jf...
[85/500] Descargando activity de sl28...
[86/500] Descargando activity de c0c8...
[87/500] Descargando activity de c0jp...
[88/500] Descargando activity de n0bg...
[89/500] Descargando activity de n0am...
[90/500] Descargando activity de cd85...
[91/500] Descargando activity de s0gd...
[92/500] Descargando activity de s0ja...
[93/500] Descargando activity de hb64...
[94/500] Descargando activity de bd06...
[95/500] Descargando activity de m0hu...
[96/500] Descargando activity de mo44...
[97/500] Descargando activity de bm95...
[98/500] Descargando activity de s0h2...
[99/500] Descargando activity de g09o...
[100/500] Descargando activity de db63...
[101/500] Descargando activity de s0n0...
[102/500] Descargando activity de t0a1...
[103/500] Descargando activity de ki82...
[104/500] Descargando activity de te16...
[105/500] Descargando activity de h997...
[106/500] Descargando activity de b0id...
[107/500] Descargando activity de d994...
[108/500] Descargando activity de b0fv...
[109/500] Descargando activity de tc61...
[110/500] Descargando activity de bs86...
[111/500] Descargando activity de bg23...
[112/500] Descargando activity de n732...
[113/500] Descargando activity de mk66...
[114/500] Descargando activity de h09p...
[115/500] Descargando activity de o483...
[116/500] Descargando activity de cg80...
[117/500] Descargando activity de b0pg...
[118/500] Descargando activity de k0a3...
[119/500] Descargando activity de gb88...
[120/500] Descargando activity de l987...
[121/500] Descargando activity de y09v...
[122/500] Descargando activity de j551...
[123/500] Descargando activity de p0hw...
[124/500] Descargando activity de d0dp...
[125/500] Descargando activity de t0ap...
[126/500] Descargando activity de hd68...
[127/500] Descargando activity de v0am...
[128/500] Descargando activity de h0bh...
[129/500] Descargando activity de p0ct...
[130/500] Descargando activity de ch12...
[131/500] Descargando activity de g0fw...
[132/500] Descargando activity de l0il...
[133/500] Descargando activity de b0u4...
[134/500] Descargando activity de cf59...
[135/500] Descargando activity de o513...
[136/500] Descargando activity de ta29...
[137/500] Descargando activity de ea13...
[138/500] Descargando activity de j0az...
[139/500] Descargando activity de da31...
[140/500] Descargando activity de ph64...
[141/500] Descargando activity de ki63...
[142/500] Descargando activity de s0k7...
[143/500] Descargando activity de bv16...
[144/500] Descargando activity de w0bh...
[145/500] Descargando activity de s0ze...
[146/500] Descargando activity de sy67...
[147/500] Descargando activity de l0gh...
[148/500] Descargando activity de d0dw...
[149/500] Descargando activity de g0gd...
[150/500] Descargando activity de f0f2...
[151/500] Descargando activity de ge33...
[152/500] Descargando activity de z0a1...
[153/500] Descargando activity de m0k4...
[154/500] Descargando activity de r0go...
[155/500] Descargando activity de h996...
[156/500] Descargando activity de b0nn...
[157/500] Descargando activity de w367...
[158/500] Descargando activity de m0if...
[159/500] Descargando activity de n552...
[160/500] Descargando activity de wb08...
[161/500] Descargando activity de d0h9...
[162/500] Descargando activity de m0n1...
[163/500] Descargando activity de m0g4...
[164/500] Descargando activity de v0dp...
[165/500] Descargando activity de fa43...
[166/500] Descargando activity de p09o...
[167/500] Descargando activity de ss25...
[168/500] Descargando activity de v0dz...
[169/500] Descargando activity de j0dz...
[170/500] Descargando activity de y218...
[171/500] Descargando activity de sx50...
[172/500] Descargando activity de h09n...
[173/500] Descargando activity de m0n7...
[174/500] Descargando activity de gf95...
[175/500] Descargando activity de b0gy...
[176/500] Descargando activity de d0dt...
[177/500] Descargando activity de s0uv...
[178/500] Descargando activity de r09x...
[179/500] Descargando activity de hf80...
[180/500] Descargando activity de r0fs...
[181/500] Descargando activity de b0ej...
[182/500] Descargando activity de wb32...
[183/500] Descargando activity de ta46...
[184/500] Descargando activity de e687...
[185/500] Descargando activity de k0ep...
[186/500] Descargando activity de z0bz...
[187/500] Descargando activity de mj08...
[188/500] Descargando activity de r0a7...
[189/500] Descargando activity de bi81...
[190/500] Descargando activity de n0cs...
[191/500] Descargando activity de kb95...
[192/500] Descargando activity de g0by...
[193/500] Descargando activity de c0ak...
[194/500] Descargando activity de g0gw...
[195/500] Descargando activity de a09t...
[196/500] Descargando activity de e0dd...
[197/500] Descargando activity de m0oq...
[198/500] Descargando activity de g0dh...
[199/500] Descargando activity de f0dm...
[200/500] Descargando activity de p0ht...
[201/500] Descargando activity de ph78...
[202/500] Descargando activity de t09x...
[203/500] Descargando activity de mv14...
[204/500] Descargando activity de gk06...
[205/500] Descargando activity de b0qc...
[206/500] Descargando activity de kc12...
[207/500] Descargando activity de r0e0...
[208/500] Descargando activity de ta12...
[209/500] Descargando activity de l0cf...
[210/500] Descargando activity de b0gr...
[211/500] Descargando activity de l0cx...
[212/500] Descargando activity de c0ht...
[213/500] Descargando activity de m0aw...
[214/500] Descargando activity de ci14...
[215/500] Descargando activity de f840...
[216/500] Descargando activity de s0ia...
[217/500] Descargando activity de p0j1...
[218/500] Descargando activity de sx91...
[219/500] Descargando activity de mw75...
[220/500] Descargando activity de h09f...
[221/500] Descargando activity de ga79...
[222/500] Descargando activity de p0ay...
[223/500] Descargando activity de kh56...
[224/500] Descargando activity de cg33...
[225/500] Descargando activity de hg86...
[226/500] Descargando activity de c0nb...
[227/500] Descargando activity de d0cg...
[228/500] Descargando activity de pg20...
[229/500] Descargando activity de p0iy...
[230/500] Descargando activity de g0ix...
[231/500] Descargando activity de o0a2...
[232/500] Descargando activity de cf01...
[233/500] Descargando activity de o660...
[234/500] Descargando activity de hg94...
[235/500] Descargando activity de b0er...
[236/500] Descargando activity de rh59...
[237/500] Descargando activity de d0l3...
[238/500] Descargando activity de m0on...
[239/500] Descargando activity de dc76...
[240/500] Descargando activity de r0fp...
[241/500] Descargando activity de m0ht...
[242/500] Descargando activity de s0gr...
[243/500] Descargando activity de n09u...
[244/500] Descargando activity de sn54...
[245/500] Descargando activity de hh06...
[246/500] Descargando activity de ce77...
[247/500] Descargando activity de s0aq...
[248/500] Descargando activity de kc33...
[249/500] Descargando activity de bu54...
[250/500] Descargando activity de c0bh...
[251/500] Descargando activity de bu70...
[252/500] Descargando activity de z0cq...
[253/500] Descargando activity de p0gn...
[254/500] Descargando activity de s0re...
[255/500] Descargando activity de rh62...
[256/500] Descargando activity de s0wt...
[257/500] Descargando activity de m0e1...
[258/500] Descargando activity de hb48...
[259/500] Descargando activity de tc01...
[260/500] Descargando activity de kc29...
[261/500] Descargando activity de p0k4...
[262/500] Descargando activity de b0mm...
[263/500] Descargando activity de m0oh...
[264/500] Descargando activity de ge28...
[265/500] Descargando activity de m0np...
[266/500] Descargando activity de dc48...
[267/500] Descargando activity de e865...
[268/500] Descargando activity de z09f...
[269/500] Descargando activity de b0fi...
[270/500] Descargando activity de gj16...
[271/500] Descargando activity de h0cx...
[272/500] Descargando activity de sx90...
[273/500] Descargando activity de cc66...
[274/500] Descargando activity de n897...
[275/500] Descargando activity de s0ak...
[276/500] Descargando activity de s0kt...
[277/500] Descargando activity de s0mn...
[278/500] Descargando activity de s0o6...
[279/500] Descargando activity de s0nv...
[280/500] Descargando activity de j0b5...
[281/500] Descargando activity de rg42...
[282/500] Descargando activity de ag08...
[283/500] Descargando activity de t0fi...
[284/500] Descargando activity de z09z...
[285/500] Descargando activity de t0bw...
[286/500] Descargando activity de b0no...
[287/500] Descargando activity de g0ib...
[288/500] Descargando activity de mp01...
[289/500] Descargando activity de u120...
[290/500] Descargando activity de j09x...
[291/500] Descargando activity de p0ea...
[292/500] Descargando activity de gh92...
[293/500] Descargando activity de gb93...
[294/500] Descargando activity de z0ak...
[295/500] Descargando activity de k926...
[296/500] Descargando activity de b0ou...
[297/500] Descargando activity de a0f3...
[298/500] Descargando activity de p0df...
[299/500] Descargando activity de bu10...
[300/500] Descargando activity de n731...
[301/500] Descargando activity de s0ek...
[302/500] Descargando activity de df88...
[303/500] Descargando activity de td55...
[304/500] Descargando activity de s0gz...
[305/500] Descargando activity de m0ea...
[306/500] Descargando activity de b0jj...
[307/500] Descargando activity de ke64...
[308/500] Descargando activity de b0lw...
[309/500] Descargando activity de aa27...
[310/500] Descargando activity de h0du...
[311/500] Descargando activity de bi23...
[312/500] Descargando activity de g628...
[313/500] Descargando activity de s0bt...
[314/500] Descargando activity de j553...
[315/500] Descargando activity de k0cj...
[316/500] Descargando activity de b0lq...
[317/500] Descargando activity de e0ac...
[318/500] Descargando activity de b0ek...
[319/500] Descargando activity de lb66...
[320/500] Descargando activity de c0aj...
[321/500] Descargando activity de b0bu...
[322/500] Descargando activity de a0cj...
[323/500] Descargando activity de mw76...
[324/500] Descargando activity de g09c...
[325/500] Descargando activity de li10...
[326/500] Descargando activity de w0ah...
[327/500] Descargando activity de b0c0...
[328/500] Descargando activity de v836...
[329/500] Descargando activity de s0cg...
[330/500] Descargando activity de d0cn...
[331/500] Descargando activity de u134...
[332/500] Descargando activity de b0ov...
[333/500] Descargando activity de pl39...
[334/500] Descargando activity de bv21...
[335/500] Descargando activity de h0dc...
[336/500] Descargando activity de p0d0...
[337/500] Descargando activity de c0hb...
[338/500] Descargando activity de t0gr...
[339/500] Descargando activity de n0db...
[340/500] Descargando activity de i0b0...
[341/500] Descargando activity de s0ex...
[342/500] Descargando activity de va08...
[343/500] Descargando activity de a09u...
[344/500] Descargando activity de f0f4...
[345/500] Descargando activity de g0ao...
[346/500] Descargando activity de k0fy...
[347/500] Descargando activity de v821...
[348/500] Descargando activity de sk94...
[349/500] Descargando activity de sq80...
[350/500] Descargando activity de m0gy...
[351/500] Descargando activity de r0bt...
[352/500] Descargando activity de m0nl...
[353/500] Descargando activity de so20...
[354/500] Descargando activity de j0d2...
[355/500] Descargando activity de b0i6...
[356/500] Descargando activity de g0iw...
[357/500] Descargando activity de cg07...
[358/500] Descargando activity de sg56...
[359/500] Descargando activity de bv25...
[360/500] Descargando activity de m0re...
[361/500] Descargando activity de r772...
[362/500] Descargando activity de m0se...
[363/500] Descargando activity de p0b2...
[364/500] Descargando activity de h0bf...
[365/500] Descargando activity de d0lj...
[366/500] Descargando activity de j0aw...
[367/500] Descargando activity de ch27...
[368/500] Descargando activity de gg65...
[369/500] Descargando activity de s0la...
[370/500] Descargando activity de m0rg...
[371/500] Descargando activity de t0dm...
[372/500] Descargando activity de p0i6...
[373/500] Descargando activity de kc56...
[374/500] Descargando activity de s0tx...
[375/500] Descargando activity de s09p...
[376/500] Descargando activity de g0j9...
[377/500] Descargando activity de cf88...
[378/500] Descargando activity de k0e6...
[379/500] Descargando activity de s0gv...
[380/500] Descargando activity de df92...
[381/500] Descargando activity de e698...
[382/500] Descargando activity de da81...
[383/500] Descargando activity de b0ll...
[384/500] Descargando activity de v717...
[385/500] Descargando activity de j0a4...
[386/500] Descargando activity de e0aa...
[387/500] Descargando activity de s0vm...
[388/500] Descargando activity de mf35...
[389/500] Descargando activity de bv24...
[390/500] Descargando activity de mj98...
[391/500] Descargando activity de w857...
[392/500] Descargando activity de p0gq...
[393/500] Descargando activity de c0lk...
[394/500] Descargando activity de p0dr...
[395/500] Descargando activity de bf23...
[396/500] Descargando activity de c0nn...
[397/500] Descargando activity de sr81...
[398/500] Descargando activity de sl94...
[399/500] Descargando activity de ke69...
[400/500] Descargando activity de s0w8...
[401/500] Descargando activity de b0pe...
[402/500] Descargando activity de y171...
[403/500] Descargando activity de pl64...
[404/500] Descargando activity de c0b2...
[405/500] Descargando activity de pj74...
[406/500] Descargando activity de f0a3...
[407/500] Descargando activity de p0mg...
[408/500] Descargando activity de m0cw...
[409/500] Descargando activity de a0ba...
[410/500] Descargando activity de k0hc...
[411/500] Descargando activity de ch80...
[412/500] Descargando activity de z371...
[413/500] Descargando activity de p0bk...
[414/500] Descargando activity de b0je...
[415/500] Descargando activity de s0hr...
[416/500] Descargando activity de c0ow...
[417/500] Descargando activity de j476...
[418/500] Descargando activity de a0ea...
[419/500] Descargando activity de h0cd...
[420/500] Descargando activity de m0c2...
[421/500] Descargando activity de be90...
[422/500] Descargando activity de pg94...
[423/500] Descargando activity de o376...
[424/500] Descargando activity de d0a2...
[425/500] Descargando activity de m0ac...
[426/500] Descargando activity de e768...
[427/500] Descargando activity de z419...
[428/500] Descargando activity de tf58...
[429/500] Descargando activity de d0dc...
[430/500] Descargando activity de m0gb...
[431/500] Descargando activity de r0bc...
[432/500] Descargando activity de fc49...
[433/500] Descargando activity de m0to...
[434/500] Descargando activity de r0jw...
[435/500] Descargando activity de b0gi...
[436/500] Descargando activity de ea27...
[437/500] Descargando activity de s0tm...
[438/500] Descargando activity de w0bb...
[439/500] Descargando activity de d0d4...
[440/500] Descargando activity de t0ei...
[441/500] Descargando activity de f0bt...
[442/500] Descargando activity de s0c2...
[443/500] Descargando activity de o0ad...
[444/500] Descargando activity de m0ey...
[445/500] Descargando activity de b0jp...
[446/500] Descargando activity de f0ck...
[447/500] Descargando activity de kd46...
[448/500] Descargando activity de x01c...
[449/500] Descargando activity de a829...
[450/500] Descargando activity de k0hg...
[451/500] Descargando activity de a0ia...
[452/500] Descargando activity de m0bn...
[453/500] Descargando activity de u176...
[454/500] Descargando activity de l0gr...
[455/500] Descargando activity de k09f...
[456/500] Descargando activity de z0c3...
[457/500] Descargando activity de w0bu...
[458/500] Descargando activity de o659...
[459/500] Descargando activity de h0jl...
[460/500] Descargando activity de p0hp...
[461/500] Descargando activity de a0ik...
[462/500] Descargando activity de dc38...
[463/500] Descargando activity de s0ti...
[464/500] Descargando activity de s0h9...
[465/500] Descargando activity de pf65...
[466/500] Descargando activity de w0c4...
[467/500] Descargando activity de s0t1...
[468/500] Descargando activity de s0ri...
[469/500] Descargando activity de v09t...
[470/500] Descargando activity de rd48...
[471/500] Descargando activity de mi01...
[472/500] Descargando activity de dg80...
[473/500] Descargando activity de v0d4...
[474/500] Descargando activity de a09q...
[475/500] Descargando activity de lc12...
[476/500] Descargando activity de k0de...
[477/500] Descargando activity de d0ar...
[478/500] Descargando activity de ki48...
[479/500] Descargando activity de wb19...

In [ ]:
activity_all_df.head()

,player_id,year,event_id,event_name,event_title,prize_raw,currency,prize_usd
0,a0e2,2025,605,Nitto ATP Finals,Nitto ATP Finals,2704000,$,2704000
1,a0e2,2025,352,ATP Masters 1000 Paris,Rolex Paris Masters,44220,€,51410
2,a0e2,2025,329,Tokyo,Kinoshita Group Japan Open Tennis Championships,416365,$,416365
3,a0e2,2025,9210,Laver Cup,Laver Cup,0,$,0
4,a0e2,2025,560,US Open,US Open,5000000,$,5000000

In [ ]:
import datetime
today = datetime.date.today().strftime("%Y-%m-%d")

activity_all_df.to_csv(f"atp_players_activity_{today}.csv", index=False)

In [ ]:
prize_by_year = df_filtered.groupby("year")["prize_usd"].sum()
print(prize_by_year)

year
2018         438
2019       12212
2020       81932
2021     1617820
2022     7627612
2023    10753431
2024     9850338
2025    18803427
Name: prize_usd, dtype: int64

In [ ]:
rows = []

for year_block in activity:          # cada bloque es un año
    year = year_block["EventYear"]
    for t in year_block["Tournaments"]:   # cada torneo dentro del año
        rows.append({
            "year": year,
            "event_id": t["EventId"],
            "event_name": t["EventName"],
            "event_title": t["EventDisplayName"],
            "prize_raw": t["Prize"],          # premio en la moneda local
            "currency": t["CurrSymbol"],      # "$", "€", "£", etc.
            "prize_usd": t["PrizeUsd"],       # premio convertido a USD
        })

# Ahora rows tiene un registro por evento-año
for r in rows[:5]:
    print(r)

{'year': 2025, 'event_id': '605', 'event_name': 'Nitto ATP Finals', 'event_title': 'Nitto ATP Finals', 'prize_raw': 5071000, 'currency': '$', 'prize_usd': 5071000}
{'year': 2025, 'event_id': '352', 'event_name': 'ATP Masters 1000 Paris', 'event_title': 'Rolex Paris Masters', 'prize_raw': 946610, 'currency': '€', 'prize_usd': 1100529}
{'year': 2025, 'event_id': '337', 'event_name': 'Vienna', 'event_title': 'Erste Bank Open', 'prize_raw': 511835, 'currency': '€', 'prize_usd': 596339}
{'year': 2025, 'event_id': '5014', 'event_name': 'ATP Masters 1000 Shanghai', 'event_title': 'Rolex Shanghai Masters', 'prize_raw': 60400, 'currency': '$', 'prize_usd': 60400}
{'year': 2025, 'event_id': '747', 'event_name': 'Beijing', 'event_title': 'China Open', 'prize_raw': 751075, 'currency': '$', 'prize_usd': 751075}

In [ ]:
df = pd.DataFrame(rows)
print(df.head(40))

    year event_id                     event_name  \
0   2025      605               Nitto ATP Finals
1   2025      352         ATP Masters 1000 Paris
2   2025      337                         Vienna
3   2025     5014      ATP Masters 1000 Shanghai
4   2025      747                        Beijing
5   2025      560                        US Open
6   2025      422    ATP Masters 1000 Cincinnati
7   2025      540                      Wimbledon
8   2025      500                          Halle
9   2025      520                  Roland Garros
10  2025      416          ATP Masters 1000 Rome
11  2025      580                Australian Open
12  2024     4481                 500 Bonus Pool
13  2024      607                1000 Bonus Pool
14  2024      901               Davis Cup Finals
15  2024      605               Nitto ATP Finals
16  2024     5014      ATP Masters 1000 Shanghai
17  2024      747                        Beijing
18  2024      560                        US Open
19  2024      422    ATP Masters 1000 Cincinnati
20  2024      421        ATP Masters 1000 Canada
21  2024      540                      Wimbledon
22  2024      500                          Halle
23  2024      520                  Roland Garros
24  2024     1536        ATP Masters 1000 Madrid
25  2024      410   ATP Masters 1000 Monte-Carlo
26  2024      403         ATP Masters 1000 Miami
27  2024      404  ATP Masters 1000 Indian Wells
28  2024      407                      Rotterdam
29  2024      580                Australian Open
30  2023     4481                 500 Bonus Pool
31  2023     4630                 Profit Sharing
32  2023      607                1000 Bonus Pool
33  2023      901               Davis Cup Finals
34  2023      605               Nitto ATP Finals
35  2023      352         ATP Masters 1000 Paris
36  2023      337                         Vienna
37  2023     5014      ATP Masters 1000 Shanghai
38  2023      747                        Beijing
39  2023      560                        US Open

                      event_title  prize_raw currency  prize_usd
0                Nitto ATP Finals    5071000        $    5071000
1             Rolex Paris Masters     946610        €    1100529
2                 Erste Bank Open     511835        €     596339
3          Rolex Shanghai Masters      60400        $      60400
4                      China Open     751075        $     751075
5                         US Open    2500000        $    2500000
6                 Cincinnati Open     597890        $     597890
7                       Wimbledon    3000000        £    4115100
8             Terra Wortmann Open      36885        €      42584
9                   Roland Garros    1275000        €    1448783
10    Internazionali BNL d'Italia     523870        €     680298
11                Australian Open    3500000       A$    2150400
12                 500 Bonus Pool     310000        $     310000
13                1000 Bonus Pool    2479554        $    2479554
14               Davis Cup Finals          0        €          0
15               Nitto ATP Finals    4881100        $    4881100
16      ATP Masters 1000 Shanghai    1100000        $    1100000
17                        Beijing     374340        $     374340
18                        US Open    3600000        $    3600000
19    ATP Masters 1000 Cincinnati    1049460        $    1049460
20        ATP Masters 1000 Canada     170940        $     170940
21                      Wimbledon     375000        £     474188
22                          Halle     421790        €     451273
23                  Roland Garros     650000        €     706485
24        ATP Masters 1000 Madrid     161995        €     172622
25   ATP Masters 1000 Monte-Carlo     274425        €     297339
26         ATP Masters 1000 Miami    1100000        $    1100000
27  ATP Masters 1000 Indian Wells          0        $          0
28                      Rotterdam     399215        €     430513
29                Australian Open    3150000       A$    2105775
30                 500 Bonus Pool     300000        $     300000
31                 Profit Sharing     459550        $     459550
32                1000 Bonus Pool    1806872        $    1806872
33               Davis Cup Finals          0        €          0
34               Nitto ATP Finals    2600500        $    2600500
35         ATP Masters 1000 Paris      77760        €      82146
36                         Vienna     450650        €     477419
37      ATP Masters 1000 Shanghai      96955        $      96955
38                        Beijing     679550        $     679550
39                        US Open     284000        $     284000

In [ ]:
df_filtered[df_filtered["year"] == 2021]

,year,event_id,event_name,event_title,prize_raw,currency,prize_usd
78,2021,607,Bonus Prize Money,Bonus Prize Money,145000,$,145000
79,2021,901,Davis Cup Finals,Davis Cup Finals,0,€,0
80,2021,605,Nitto ATP Finals,Nitto ATP Finals,266000,$,266000
81,2021,429,Stockholm,Stockholm,11230,€,12989
82,2021,352,ATP Masters 1000 Paris,ATP Masters 1000 Paris,39120,€,45544
83,2021,337,Vienna,Vienna,103000,€,119913
84,2021,7485,Antwerp,Antwerp,49885,€,57832
85,2021,404,ATP Masters 1000 Indian Wells,ATP Masters 1000 Indian Wells,92000,$,92000
86,2021,7434,Sofia,Sofia,41145,€,48218
87,2021,560,US Open,US Open,265000,$,265000
88,2021,422,ATP Masters 1000 Cincinnati,ATP Masters 1000 Cincinnati,43450,$,43450
89,2021,421,ATP Masters 1000 Canada,ATP Masters 1000 Canada,26770,$,26770
90,2021,418,Washington,Washington,350755,$,350755
91,2021,6116,Atlanta,Atlanta,11930,$,11930
92,2021,540,Wimbledon,Wimbledon,48000,£,58171
93,2021,311,London / Queen's Club,London / Queen's Club,14650,€,17737
94,2021,520,Roland Garros,Roland Garros,170000,€,207247
95,2021,7694,Lyon,Lyon,9000,€,10930
96,2021,416,ATP Masters 1000 Rome,ATP Masters 1000 Rome,18000,€,21892
97,2021,1536,ATP Masters 1000 Madrid,ATP Masters 1000 Madrid,22720,€,27305
98,2021,425,Barcelona,Barcelona,69840,€,83075
99,2021,410,ATP Masters 1000 Monte-Carlo,ATP Masters 1000 Monte-Carlo,18100,€,21530
100,2021,403,ATP Masters 1000 Miami,ATP Masters 1000 Miami,165000,$,165000
101,2021,495,Dubai,Dubai,53590,$,53590
102,2021,496,Marseille,Marseille,17845,€,21253
103,2021,375,Montpellier,Montpellier,5275,€,6427
104,2021,580,Australian Open,Australian Open,100000,A$,68730
105,2021,8998,Melbourne 1,Melbourne 1,19500,$,19500

In [ ]:
exclude = ["500 Bonus Pool", "1000 Bonus Pool", "Profit Sharing", "Profit Share", "Bonus Prize Money"]
df_filtered = activity_all_df[~activity_all_df["event_name"].isin(exclude)]

In [ ]:
df_filtered.head()

,player_id,year,event_id,event_name,event_title,prize_raw,currency,prize_usd
0,a0e2,2025,605,Nitto ATP Finals,Nitto ATP Finals,2704000,$,2704000
1,a0e2,2025,352,ATP Masters 1000 Paris,Rolex Paris Masters,44220,€,51410
2,a0e2,2025,329,Tokyo,Kinoshita Group Japan Open Tennis Championships,416365,$,416365
3,a0e2,2025,9210,Laver Cup,Laver Cup,0,$,0
4,a0e2,2025,560,US Open,US Open,5000000,$,5000000

In [ ]:
prize_by_year = df_filtered.groupby(["player_id", "year"])["prize_usd"].sum()
prize_by_year.tail(20)

player_id  year
z371       2019     148968
           2020      24899
           2021     125712
           2022     199673
           2023    1068483
           2024    1448942
           2025     378405
z419       2013        624
           2014       2738
           2015       6967
           2016      12295
           2017      32592
           2018      36197
           2019      53303
           2020      61125
           2021     409477
           2022     605263
           2023     897207
           2024     275938
           2025      41426
Name: prize_usd, dtype: int64